@layer theme, base;

@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";
@import "@xyflow/react/dist/style.css";

@custom-variant dark (&:is(.dark *));

:root {
  --background: oklch(0.9777 0.0041 301.4256);
  --foreground: oklch(0.3651 0.0325 287.0807);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.3651 0.0325 287.0807);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.3651 0.0325 287.0807);
  --primary: oklch(0.6104 0.0767 299.7335);
  --primary-foreground: oklch(0.9777 0.0041 301.4256);
  --secondary: oklch(0.8957 0.0265 300.2416);
  --secondary-foreground: oklch(0.3651 0.0325 287.0807);
  --muted: oklch(0.8906 0.0139 299.7754);
  --muted-foreground: oklch(0.5288 0.0375 290.7895);
  --accent: oklch(0.7889 0.0802 359.9375);
  --accent-foreground: oklch(0.3394 0.0441 1.7583);
  --destructive: oklch(0.6332 0.1578 22.6734);
  --destructive-foreground: oklch(0.9777 0.0041 301.4256);
  --border: oklch(0.8447 0.0226 300.1421);
  --input: oklch(0.9329 0.0124 301.2783);
  --ring: oklch(0.6104 0.0767 299.7335);
  --chart-1: oklch(0.6104 0.0767 299.7335);
  --chart-2: oklch(0.7889 0.0802 359.9375);
  --chart-3: oklch(0.7321 0.0749 169.867);
  --chart-4: oklch(0.854 0.0882 76.8292);
  --chart-5: oklch(0.7857 0.0645 258.0839);
  --sidebar: oklch(0.9554 0.0082 301.3541);
  --sidebar-foreground: oklch(0.3651 0.0325 287.0807);
  --sidebar-primary: oklch(0.6104 0.0767 299.7335);
  --sidebar-primary-foreground: oklch(0.9777 0.0041 301.4256);
  --sidebar-accent: oklch(0.7889 0.0802 359.9375);
  --sidebar-accent-foreground: oklch(0.3394 0.0441 1.7583);
  --sidebar-border: oklch(0.8719 0.0198 302.169);
  --sidebar-ring: oklch(0.6104 0.0767 299.7335);
  --font-sans: Roboto, ui-sans-serif, sans-serif, system-ui;
  --font-serif: "Lora", Georgia, serif;
  --font-mono: "Fira Code", "Courier New", monospace;
  --radius: 0.3rem;
  --radius-2: 0.45rem;
  --radius-3: 0.6rem;
  --radius-4: 0.75rem;
  --radius-5: 0.9rem;
  --radius-6: 1.05rem;
  --radius-7: 1.2rem;
  --shadow-x: 1px;
  --shadow-y: 2px;
  --shadow-blur: 5px;
  --shadow-spread: 1px;
  --shadow-opacity: 0.06;
  --shadow-color: hsl(0 0% 0%);
  --shadow-2xs: 1px 2px 5px 1px hsl(0 0% 0% / 0.03);
  --shadow-xs: 1px 2px 5px 1px hsl(0 0% 0% / 0.03);
  --shadow-sm:
    1px 2px 5px 1px hsl(0 0% 0% / 0.06), 1px 1px 2px 0px hsl(0 0% 0% / 0.06);
  --shadow:
    1px 2px 5px 1px hsl(0 0% 0% / 0.06), 1px 1px 2px 0px hsl(0 0% 0% / 0.06);
  --shadow-md:
    1px 2px 5px 1px hsl(0 0% 0% / 0.06), 1px 2px 4px 0px hsl(0 0% 0% / 0.06);
  --shadow-lg:
    1px 2px 5px 1px hsl(0 0% 0% / 0.06), 1px 4px 6px 0px hsl(0 0% 0% / 0.06);
  --shadow-xl:
    1px 2px 5px 1px hsl(0 0% 0% / 0.06), 1px 8px 10px 0px hsl(0 0% 0% / 0.06);
  --shadow-2xl: 1px 2px 5px 1px hsl(0 0% 0% / 0.15);
  --tracking-normal: 0em;
  --spacing: 0.25rem;

  ::-webkit-scrollbar {
    width: 10px;
  }

  ::-webkit-scrollbar-track-piece {
    background-color: transparent;
  }

  ::-webkit-scrollbar-thumb {
    background-color: var(--accent);
    border-radius: var(--radius-2);
  }

  ::-webkit-scrollbar-thumb:hover {
    background-color: #909090;
  }

  /* ===== REACT FLOW CUSTOMIZATION ===== */

  .react-flow__edge.selectable:hover .react-flow__edge-path,
  .react-flow__edge.selectable.selected .react-flow__edge-path {
    stroke: var(--xy-theme-edge-hover);
  }

  .react-flow-wrapper {
    background-color: var(--background);
    color: var(--foreground);
    z-index: 0;
  }

  /* Customize the main wrapper panel */

  .react-flow__panel {
    border-style: solid;
    border-radius: var(--radius-4) !important;
  }

  .react-flow__minimap {
    background-color: var(--card);
  }

  .react-flow__minimap > svg {
    border-radius: var(--radius-3) !important;
  }

  /* Customize the viewport tracking mask */
  .react-flow__minimap-mask {
    fill: var(--accent);
    border-style: solid;
    border-radius: var(--radius-4) !important;
  }

  /* Customize the general mini nodes appearance */
  .react-flow__minimap-node {
    fill: var(--border);
  }

  .react-flow__handle {
    width: 12px !important;
    height: 12px !important;
    border-radius: 9999px !important;
    background-color: #09090b !important;
    border: 2px solid #27272a !important;
    transition: all 0.2s cubic-bezier(0.4, 0, 0.2, 1) !important;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5) !important;
  }

  .react-flow__handle[data-handlepos="right"] {
    right: -6px !important;
    clip-path: none !important;
  }

  .react-flow__handle[data-handlepos="left"] {
    left: -6px !important;
    clip-path: none !important;
  }
  /*
  .react-flow__handle:hover {
  } */

  .draglayer {
    -webkit-app-region: drag;
  }

  div.scroll {
    overflow: hidden !important;
    overflow-x: hidden !important;
  }

  .react-flow__pane::-webkit-scrollbar {
    display: none; /* Hide scrollbars in Chrome, Safari, and Edge */
  }

  .react-flow__pane {
    -ms-overflow-style: none; /* Hide scrollbars in IE and older Edge */
    scrollbar-width: none; /* Hide scrollbars in Firefox */
  }

  .react-flow__handle-connecting {
    box-shadow: 0 0 12px var(--glow-color, rgba(218, 215, 215, 0.971));
  }

  .react-flow__handle-connectingto {
    box-shadow: 0 0 12px var(--glow-color, rgba(218, 215, 215, 0.971));
  }

  .react-flow__handle.valid {
    box-shadow: 0 0 12px var(--glow-color, rgba(218, 215, 215, 0.971));
  }

  .react-flow__node {
    & > .bg-card {
      border: 2px solid transparent !important;
      background: var(--color-card);
      backdrop-filter: hue-rotate(20deg) blur(12px);
      box-shadow: 0 0px 24px rgba(0, 0, 0, 0.15);
      transition:
        border-color 0.2s ease,
        box-shadow 0.2s ease;
      & > [data-slot="card-content"] {
        background: var(--color-panel) !important;
      }
    }
  }

  .react-flow__node.selected .bg-card {
    border: 2px solid var(--sidebar-foreground) !important;
    box-shadow: 0 0px 24px rgba(0, 0, 0, 0.65);
    transition:
      border-color 0.2s ease,
      box-shadow 0.2s ease;
  }

  /* Style the entire container background */
  .react-flow__controls {
    background-color: var(--card-background) !important;
    border-style: solid;
    border-radius: var(--radius);
    border-color: var(--card-background) !important;
  }

  /* Style all control buttons */
  *.react-flow__controls-button {
    background: var(--popover);
    fill: var(--card-background); /* Sets the SVG icon color */
    border-bottom: 1px solid var(--border);
  }

  /* Style button hover state */
  .react-flow__controls-button:hover {
    background: #505263;
  }

  /* Begin test styles */

  .react-flow__handle.connectionindicator:hover {
    pointer-events: all;
    border-color: var(--xy-theme-edge-hover);
    background-color: white;
  }

  .react-flow__handle.connectionindicator:focus,
  .react-flow__handle.connectingfrom,
  .react-flow__handle.connectingto {
    border-color: var(--xy-theme-edge-hover);
  }

  .react-flow__panel {
    &.bg-white {
      bottom: 30px;
      min-width: 400px;
      overflow-y: auto;
      display: flex;
      flex-direction: column-reverse;
      font-family: var(--font-mono);
      line-height: var(--text-sm--line-height);
    }
  }

  .react-flow__panel {
    background: var(--color-card);
    div {
      color: var(--color-foreground);
    }
  }
}

.dark {
  --background: oklch(0.13 0.006 286.07);
  --foreground: oklch(0.96 0.006 286.07);
  --card: oklch(0.13 0.006 286.07);
  --card-foreground: oklch(0.96 0.006 286.07);
  --popover: oklch(0.13 0.006 286.07);
  --popover-foreground: oklch(0.96 0.006 286.07);
  --primary: oklch(0.96 0.006 286.07);
  --primary-foreground: oklch(0.13 0.006 286.07);
  --secondary: oklch(0.18 0.006 286.07);
  --secondary-foreground: oklch(0.96 0.006 286.07);
  --muted: oklch(0.18 0.006 286.07);
  --muted-foreground: oklch(0.70 0.01 286.07);
  --accent: oklch(0.27 0.006 286.07);
  --accent-foreground: oklch(0.96 0.006 286.07);
  --destructive: oklch(0.6875 0.142 21.4566);
  --destructive-foreground: oklch(0.13 0.006 286.07);
  --border: oklch(0.27 0.006 286.07);
  --input: oklch(0.18 0.006 286.07);
  --ring: oklch(0.96 0.006 286.07);
  --chart-1: oklch(0.96 0.006 286.07);
  --chart-2: oklch(0.8391 0.0692 2.6681);
  --chart-3: oklch(0.7321 0.0749 169.867);
  --chart-4: oklch(0.854 0.0882 76.8292);
  --chart-5: oklch(0.7857 0.0645 258.0839);
  --sidebar: oklch(0.13 0.006 286.07);
  --sidebar-foreground: oklch(0.96 0.006 286.07);
  --sidebar-primary: oklch(0.7058 0.0777 302.0489);
  --sidebar-primary-foreground: oklch(0.13 0.006 286.07);
  --sidebar-accent: oklch(0.27 0.006 286.07);
  --sidebar-accent-foreground: oklch(0.96 0.006 286.07);
  --sidebar-border: oklch(0.27 0.006 286.07);
  --sidebar-ring: oklch(0.7058 0.0777 302.0489);
  --font-sans: Geist, sans-serif;
  --font-serif: "Lora", Georgia, serif;
  --font-mono: "Fira Code", "Courier New", monospace;
  --shadow-x: 1px;
  --shadow-y: 2px;
  --shadow-blur: 5px;
  --shadow-spread: 1px;
  --shadow-opacity: 0.06;
  --shadow-color: hsl(0 0% 0%);
  --shadow-2xs: 1px 2px 5px 1px hsl(0 0% 0% / 0.03);
  --shadow-xs: 1px 2px 5px 1px hsl(0 0% 0% / 0.03);
  --shadow-sm:
    1px 2px 5px 1px hsl(0 0% 0% / 0.06), 1px 1px 2px 0px hsl(0 0% 0% / 0.06);
  --shadow:
    1px 2px 5px 1px hsl(0 0% 0% / 0.06), 1px 1px 2px 0px hsl(0 0% 0% / 0.06);
  --shadow-md:
    1px 2px 5px 1px hsl(0 0% 0% / 0.06), 1px 2px 4px 0px hsl(0 0% 0% / 0.06);
  --shadow-lg:
    1px 2px 5px 1px hsl(0 0% 0% / 0.06), 1px 4px 6px 0px hsl(0 0% 0% / 0.06);
  --shadow-xl:
    1px 2px 5px 1px hsl(0 0% 0% / 0.06), 1px 8px 10px 0px hsl(0 0% 0% / 0.06);
  --shadow-2xl: 1px 2px 5px 1px hsl(0 0% 0% / 0.15);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  --font-sans: var(--font-sans);
  --font-mono: var(--font-mono);
  --font-serif: var(--font-serif);

  /* --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px); */
  --radius-sm: calc(var(--radius) * 0.6);
  --radius-md: calc(var(--radius) * 0.8);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) * 1.4);
  --radius-2xl: calc(var(--radius) * 1.8);
  --radius-3xl: calc(var(--radius) * 2.2);
  --radius-4xl: calc(var(--radius) * 2.6);

  --shadow-2xs: var(--shadow-2xs);
  --shadow-xs: var(--shadow-xs);
  --shadow-sm: var(--shadow-sm);
  --shadow: var(--shadow);
  --shadow-md: var(--shadow-md);
  --shadow-lg: var(--shadow-lg);
  --shadow-xl: var(--shadow-xl);
  --shadow-2xl: var(--shadow-2xl);

  --xy-background-color: #f7f9fb;
  /* Custom Variables */
  --xy-theme-selected: #f57dbd;
  --xy-theme-hover: #c5c5c5;
  --xy-theme-edge-hover: black;
  --xy-theme-color-focus: #e8e8e8;

  /* Built-in Variables see https://reactflow.dev/learn/customization/theming */
  --xy-node-border-default: 1px solid #ededed;

  --xy-node-boxshadow-default:
    0px 3.54px 4.55px 0px #00000005, 0px 3.54px 4.55px 0px #0000000d,
    0px 0.51px 1.01px 0px #0000001a;

  --xy-node-border-radius-default: 8px;

  --xy-handle-background-color-default: #ffffff;
  --xy-handle-border-color-default: #aaaaaa;

  --xy-edge-label-color-default: #505050;
}

@layer base {
  * {
    @apply border-border antialiased outline-ring/50;
  }
  html {
    font-size: var(--text);
  }
  body {
    @apply bg-background text-foreground;
    user-select: none;
  }

  input, textarea, [contenteditable] {
    user-select: text;
  }
}
