@layer theme, base, radix-themes;

@import "@xyflow/react/dist/style.css";
@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";
@import "@radix-ui/themes/styles.css" layer(radix-themes);

@custom-variant dark (&:is(.dark *));

:root {
  --background: oklch(1 0 0);
  --foreground: oklch(0.141 0.005 285.823);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.141 0.005 285.823);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.141 0.005 285.823);
  --primary: oklch(0.52 0.105 223.128);
  --primary-foreground: oklch(0.984 0.019 200.873);
  --secondary: oklch(0.967 0.001 286.375);
  --secondary-foreground: oklch(0.21 0.006 285.885);
  --muted: oklch(0.967 0.001 286.375);
  --muted-foreground: oklch(0.552 0.016 285.938);
  --accent: oklch(0.967 0.001 286.375);
  --accent-foreground: oklch(0.21 0.006 285.885);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.92 0.004 286.32);
  --input: oklch(0.92 0.004 286.32);
  --ring: oklch(0.705 0.015 286.067);
  --chart-1: oklch(0.865 0.127 207.078);
  --chart-2: oklch(0.715 0.143 215.221);
  --chart-3: oklch(0.609 0.126 221.723);
  --chart-4: oklch(0.52 0.105 223.128);
  --chart-5: oklch(0.45 0.085 224.283);
  --radius: 0.45rem;
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.141 0.005 285.823);
  --sidebar-primary: oklch(0.609 0.126 221.723);
  --sidebar-primary-foreground: oklch(0.984 0.019 200.873);
  --sidebar-accent: oklch(0.967 0.001 286.375);
  --sidebar-accent-foreground: oklch(0.21 0.006 285.885);
  --sidebar-border: oklch(0.92 0.004 286.32);
  --sidebar-ring: oklch(0.705 0.015 286.067);

  --xy-background-color: #f7f9fb;
  /* Custom Variables */
  --xy-theme-selected: #f57dbd;
  --xy-theme-hover: #c5c5c5;
  --xy-theme-edge-hover: black;
  --xy-theme-color-focus: #e8e8e8;

  /* Built-in Variables see https://reactflow.dev/learn/customization/theming */
  --xy-node-border-default: 1px solid #ededed;

  --xy-node-boxshadow-default:
    0px 3.54px 4.55px 0px #00000005, 0px 3.54px 4.55px 0px #0000000d,
    0px 0.51px 1.01px 0px #0000001a;

  --xy-node-border-radius-default: 8px;

  --xy-handle-background-color-default: #ffffff;
  --xy-handle-border-color-default: #aaaaaa;

  --xy-edge-label-color-default: #505050;

  ::-webkit-scrollbar {
    width: 10px;
  }

  ::-webkit-scrollbar-track-piece {
    background-color: transparent;
  }

  ::-webkit-scrollbar-thumb {
    background-color: var(--accent);
    border-radius: var(--radius-4);
  }

  ::-webkit-scrollbar-thumb:hover {
    background-color: #909090;
  }

  /* ===== REACT FLOW CUSTOMIZATION ===== */

  div.scroll {
    overflow: hidden !important;
    overflow-x: hidden !important;
  }

  .react-flow__edge.selectable:hover .react-flow__edge-path,
  .react-flow__edge.selectable.selected .react-flow__edge-path {
    stroke: var(--xy-theme-edge-hover);
  }

  .react-flow-wrapper {
    background-color: var(--background);
    color: var(--foreground);
    z-index: 0;
  }

  /* Customize the main wrapper panel */

  .react-flow__panel {
    border-style: solid;
    border-radius: var(--radius-4) !important;
  }

  .react-flow__minimap {
    background-color: var(--card);
  }

  .react-flow__minimap > svg {
    border-radius: var(--radius-3) !important;
  }

  /* Customize the viewport tracking mask */
  .react-flow__minimap-mask {
    fill: var(--accent);
    border-style: solid;
    border-radius: var(--radius-4) !important;
  }

  /* Customize the general mini nodes appearance */
  .react-flow__minimap-node {
    fill: var(--border);
  }

  .react-flow__handle[data-handlepos="right"] {
    border: 0 2px 0 2px solid var(--border) !important;
    clip-path: polygon(0% 0%, 100% 50%, 0% 100%);
    border-radius: 100% !important;
    width: 15px;
    height: 15px;
    right: -5px;
  }

  .react-flow__handle[data-handlepos="left"] {
    border: 0 2px 0 2px solid var(--border) !important;
    clip-path: polygon(100% 0%, 0% 50%, 100% 100%);
    border-radius: 100% !important;
    width: 15px;
    height: 15px;
    left: -5px;
  }
  /*
  .react-flow__handle:hover {
  } */

  .react-flow__handle-connecting {
    box-shadow: 0 0 12px var(--glow-color, rgba(218, 215, 215, 0.971));
  }

  .react-flow__handle-connectingto {
    box-shadow: 0 0 12px var(--glow-color, rgba(218, 215, 215, 0.971));
  }

  .react-flow__handle.valid {
    box-shadow: 0 0 12px var(--glow-color, rgba(218, 215, 215, 0.971));
  }

  .react-flow__node {
    & > .bg-card {
      border: 2px solid transparent !important;
      background: var(--color-panel);
      backdrop-filter: hue-rotate(20deg) blur(12px);
      box-shadow: 0 0px 24px rgba(0, 0, 0, 0.15);
      transition:
        border-color 0.2s ease,
        box-shadow 0.2s ease;
      & > [data-slot="card-content"] {
        background: var(--color-panel) !important;
      }
    }
  }

  .react-flow__node.selected .bg-card {
    border: 2px solid var(--accent-9) !important;
    box-shadow: 0 0px 24px rgba(0, 0, 0, 0.65);
    transition:
      border-color 0.2s ease,
      box-shadow 0.2s ease;
  }

  /* Style the entire container background */
  .react-flow__controls {
    background-color: var(--card-background) !important;
    border-style: solid;
    border-radius: var(--radius);
    border-color: var(--card-background) !important;
  }

  /* Style all control buttons */
  *.react-flow__controls-button {
    background: var(--popover);
    fill: var(--card-background); /* Sets the SVG icon color */
    border-bottom: 1px solid var(--border);
  }

  /* Style button hover state */
  .react-flow__controls-button:hover {
    background: #505263;
  }

  /* Begin test styles */

  .react-flow__handle.connectionindicator:hover {
    pointer-events: all;
    border-color: var(--xy-theme-edge-hover);
    background-color: white;
  }

  .react-flow__handle.connectionindicator:focus,
  .react-flow__handle.connectingfrom,
  .react-flow__handle.connectingto {
    border-color: var(--xy-theme-edge-hover);
  }

  /* End test styles */

  .rounded {
    border-radius: var(--radius-3);
  }

  .rounded-lg {
    border-radius: var(--radius-3);
  }

  --destructive-foreground: var(--color-red-700);

  --info: var(--color-blue-500);

  --info-foreground: var(--color-blue-700);

  --success: var(--color-emerald-500);

  --success-foreground: var(--color-emerald-700);

  --warning: var(--color-amber-500);

  --warning-foreground: var(--color-amber-700);

  .react-flow__panel {
    &.bg-white {
      bottom: 30px;
      min-width: 400px;
      overflow-y: auto;
      display: flex;
      flex-direction: column-reverse;
      font-family: var(--font-mono);
      line-height: var(--text-sm--line-height);
    }
  }
}

.dark {
  --background: oklch(0.141 0.005 285.823);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.21 0.006 285.885);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.21 0.006 285.885);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.45 0.085 224.283);
  --primary-foreground: oklch(0.984 0.019 200.873);
  --secondary: oklch(0.274 0.006 286.033);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.274 0.006 286.033);
  --muted-foreground: oklch(0.705 0.015 286.067);
  --accent: oklch(0.274 0.006 286.033);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.552 0.016 285.938);
  --chart-1: oklch(0.865 0.127 207.078);
  --chart-2: oklch(0.715 0.143 215.221);
  --chart-3: oklch(0.609 0.126 221.723);
  --chart-4: oklch(0.52 0.105 223.128);
  --chart-5: oklch(0.45 0.085 224.283);
  --sidebar: oklch(0.21 0.006 285.885);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.715 0.143 215.221);
  --sidebar-primary-foreground: oklch(0.302 0.056 229.695);
  --sidebar-accent: oklch(0.274 0.006 286.033);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.552 0.016 285.938);
  --destructive-foreground: var(--color-red-400);
  --info: var(--color-blue-500);
  --info-foreground: var(--color-blue-400);
  --success: var(--color-emerald-500);
  --success-foreground: var(--color-emerald-400);
  --warning: var(--color-amber-500);
  --warning-foreground: var(--color-amber-400);

  .react-flow__panel {
    background: var(--color-card);
    div {
      color: var(--color-foreground);
    }
  }
}

@theme inline {
  --font-sans: "Geist Variable", sans-serif;
  --font-mono: "Geist Mono", monospace;
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --color-foreground: var(--foreground);
  --color-background: var(--background);

  --radius: 0.5rem;

  --radius-1: calc(var(--radius) * 0.25);
  --radius-2: calc(var(--radius) * 0.5);
  --radius-3: var(--radius); /* This matches shadcn's default 'lg' */
  --radius-4: calc(var(--radius) * 1.5);
  --radius-5: calc(var(--radius) * 2);
  --radius-6: calc(var(--radius) * 3);

  --font-heading: var(--font-sans);

  --radius-sm: calc(var(--radius) * 0.6);

  --radius-md: calc(var(--radius) * 0.8);

  --radius-lg: var(--radius);

  --radius-xl: calc(var(--radius) * 1.4);

  --radius-2xl: calc(var(--radius) * 1.8);

  --radius-3xl: calc(var(--radius) * 2.2);

  --radius-4xl: calc(var(--radius) * 2.6);

  --color-warning-foreground: var(--warning-foreground);

  --color-warning: var(--warning);

  --color-success-foreground: var(--success-foreground);

  --color-success: var(--success);

  --color-info-foreground: var(--info-foreground);

  --color-info: var(--info);

  --color-destructive-foreground: var(--destructive-foreground);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply overflow-hidden font-sans antialiased bg-background text-foreground;
  }
  html {
    @apply font-sans;
  }

  .draglayer {
    -webkit-app-region: drag;
  }
}
